@import '../../css-variables/constants.css';

.searchMenu {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: fixed;
    z-index: 2;
    top: var(--navbarHeight);
    width: calc(100vw - 1rem);
    background-color: white;
    border-bottom: 1px solid #e4e4e4;
}
.searchMenu select {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: var(--searchPadding);
    height: var(--searchSelectHeight);
    border-style: solid;
}
.searchMenu input {
    font-size: 1.6rem;
    padding: var(--searchPadding);
    height: var(--searchInputHeight);
    border-style: solid;
    border: 1px solid #999;
}

.listItemPusher {
    width: 100%;
    height: calc(var(--searchInputHeight) + 2*var(--searchSelectHeight) + 6*var(--searchPadding) + 2*0.5rem);
}

.listItem {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 1rem;
}
.listItem h2 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: right;
}
.listItem p {
    margin: 0;
    margin-bottom: 0.5rem;
}