@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url(fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P'), url(fonts/PressStart2P-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Alef-Regular';
    src: url('Alef-Regular'), url(fonts/Alef-Regular.ttf) format("truetype");
}