@import '../../css-variables/constants.css';

.wrapper {
    padding-inline: var(--gutterHorizontal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--gutterHorizontal);
}

.sectorButton {
    width: calc(100% - 2px - 0.5rem);
    height: 3rem;
    border: 1px solid #d1d1d1;
    border-bottom: 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 0.5rem;
}
.plusButton {
    width: calc(100% - 2px);
    height: 3rem;
    border: 1px solid #797979;
    color: #797979;
    background-color: #f1f1f1;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper input {
    --padding: 10px;
    width: calc(100% - 2px - 2*var(--padding));
    font-size: 1.3rem;
    padding: var(--padding);
    border: 1px solid #d1d1d1;
    border-bottom: 0;
}
.wrapper input:first-of-type {
    border-bottom: 1px solid #d1d1d1;
}

.checkbox {
    display: flex;
    width: calc(100%);
    justify-content: start;
}
.checkbox input, label {
    width: auto;
    margin: 1rem;
    -webkit-appearance: auto;
}
.checkbox label {
    margin-right: 0;
}

.returnButtonCover {
    position: fixed;
    z-index: 9;
    height: var(--navbarHeight);
    width: 30vw;
    top: 0;
    right: 0;
}