@import '../../css-variables/constants.css';

.itemMenu {
    display: flex;
    flex-direction: column;
    padding: 0 var(--gutterHorizontal);
}
.itemMenu * {
    margin-bottom: 0.5rem;
}
.itemMenu h1 {
    margin-top: 0.5rem;
    font-size: 1.4rem;
}
.itemMenu input {
    font-size: 1.3rem;
    padding: 5px;
}
.itemMenu select {
    font-size: 1.1rem;
    padding: 5px;
}
.itemMenu textarea {
    font-size: 1.1rem;
    padding: 5px;
}
.itemMenu h3 {
    margin-top: 2rem;
}

/* InfoSectionMenu */
.infoSectionLine {
    display: grid;
    grid-template-columns: 1fr 2fr 2.5rem;
    gap: 0.7rem;
    width: calc(100vw - 2*var(--gutterHorizontal));
    height: 1.4rem;
    margin-bottom: calc(1rem + 5px);
}
.infoSectionLine input {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-size: 1.1rem;
}
.infoSectionLine div {
    line-height: 1.6;
    height: calc(100% + 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoSectionPlusGrayed {
    background-color: #f1f1f1;
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
}
.infoSectionPlusClickable {
    background-color: #f1f1f1;
    color: #797979;
    border: 1px solid #797979;
    font-weight: bold;
}