@import '../../css-variables/constants.css';

.bigBtn {
    background-color: #002A48;
    color: #fff;
    width: calc(100vw - 2*var(--gutterHorizontal));
    padding: 7px 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}